#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
}

button {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.1;
}

button.on {
  opacity: 1;
}
